<div class="row">
	<div class="col s12 m12 l12">
		<div class="card center">
			<div class="card-content">
				<div class="image">
					<%= image_tag @user_profile.avatar_url, class: "responsive-img circle"%>
				</div>
				<div class="info">
					<span><%= @user_profile.username %></span><br><br>
					<p><%= @user_profile.bio%></p>
					<%= link_to("Edit Profile", edit_user_profile_path , class: "btn") %>
				</div>
			</div>
		</div>
	</div>
</div>