<div class="review">
	<div class="review-rating" data-score="<%= review.ratting %>"></div>
	<p class="review-comment"><%= review.comment %></p>

	<% if user_signed_in? %>
		<% if review.user_id == current_user.id %>
			<div class="links btn-group">
				<%= link_to "Edit", edit_business_review_path(review.business, review), class: "btn btn-custom" %>
				<%= link_to "Delete", business_review_path(review.business, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
			</div>
		<% end %>
	<% end %>
</div>