<div class="fixed-action-btn" style="bottom: 3.3em; right: 0.2em;">
	<%= link_to new_business_path, class: "btn-floating btn-large halfway-fab waves-effect waves-light teal" do %>
    	<i class="material-icons">mode_edit</i>
	<% end %>
</div>