<div class="fixed-action-btn" style="bottom: 3.3em; right: 0.2em;">
	<a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
		<i class="material-icons">mode_edit</i>
	</a>
</div>